[submodule "back-end/klee-1.3.0"]
	path = back-end/klee-1.3.0
	url = https://github.com/likebreath/klee.git
[submodule "misc/util/tc-replay/check-exploitable"]
	path = misc/util/tc-replay/check-exploitable
	url = https://github.com/likebreath/exploitable.git
[submodule "back-end/klee-1.4.0"]
	path = back-end/klee-1.4.0
	url = https://github.com/likebreath/klee.git
[submodule "kprobe_module_generator"]
	path = misc/util/kprobe_module_generator
	url = https://github.com/wyz7155/module_code_generator.git
